# -*- coding: utf-8 -*-
# vim: ft=yaml

{%- load_yaml as drbd9_os_family %}


base:
  pkgs:
    - "drbd"
    - "kmod-drbd"
  service:
    name: "drbd"
    state: "enabled"
    #enable: "True"
  sysctl_dir: '/etc/sysctl.d'
  sysctl_file: 'drbd.conf'
  conffile: '/etc/drbd.d/global_common.conf'
  conf:
    # these make problems (f.e. thousands of messges like: "Ignoring P_TWOPC_ABORT packet 2181828253")
    # FIXME find the cause ^^^
    #sysctl:
    #
    #  net.core.rmem_max: '20971520'
    #  net.core.rmem_default: '20971520'
    #  net.core.wmem_max: '20971520'
    #  net.core.wmem_default: '20971520'
    #  net.core.optmem_max: '20971520'
    #
    #  net.ipv4.tcp_rmem: '2097152 20971520 20971520'
    #  net.ipv4.tcp_wmem: '2097152 20971520 20971520'
    #  net.ipv4.tcp_mem: '2097152 20971520 20971520'
    #  net.ipv4.udp_mem: '2097152 20971520 20971520'
    #
    #  net.core.netdev_max_backlog: '300000'
    #  net.ipv4.tcp_timestamps: '0'
    #  net.ipv4.tcp_sack: '0'
    #  net.ipv4.tcp_no_metrics_save: '1'
    #  ### FIXME is default, does it hurt?
    #  #net.ipv4.tcp_window_scaling: '1'

    global_common:
      global:
        usage-count: 'no'
        udev-always-use-vnr: ''

      common:
        #handlers:

        #startup:

        options:
          quorum: 'majority'

        disk:
          al-extents: '6007'

        net:
          csums-alg: 'sha1'

          max-buffers: '1024'
          max-epoch-size: '160'

          sndbuf-size: '2048k'
          rcvbuf-size: '2048k'



default:
  sysconfdir: /etc/sysconfig

Debian:
  sysconfdir: /etc/default

RedHat:
  sysconfdir: /etc/sysconfig
{%- endload %}

{%- set drbd9_default_plus_pillar_lookup = salt['grains.filter_by'](drbd9_os_family, grain='os_family', merge=salt['pillar.get']('drbd9:lookup'), default='default', base='base') %}
{%- set drbd9 = salt['pillar.get']('drbd9', default=drbd9_default_plus_pillar_lookup, merge=True) %}
